*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
### Example user template template
### Example user template
# IntelliJ project files
.idea
out
gen
app/libs/
app/src/main/res/drawable/
